* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: var(--font-family-2);
}

/* The Colors */
:root {
    --bg-color: #304431;
    --secound-bg-color: rgb(57, 90, 57);
    --text-color: #000000;
    --text-color2: white;
    --main-color: #6fa074;
  /* Fonts */
    --font-family-1: "Concert One", sans-serif;
    --font-family-2: "Outfit", serif;
    --font-family-3: "Crimson Pro", serif;
  }

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--bg-color);
    border-radius: 10px;
}

html::-webkit-scrollbar {
    width: 10px;
}

/* Navbar */
#navbar {
    padding: 1px 9% 0px;
    background-color: var(--main-color);
}

#logo img {
    width: 90px;
    margin-top: 3px; 
}

.nav-item .nav-link {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 550;
    transition: 0.5s;
}

.nav-item .nav-link:hover {
    color: var(--bg-color);
}

#navbar input {
    border-radius: 50px;
}

#btn {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid var(--main-color);
    background: transparent;
    transition: 0.5s;
}

#btn:hover {
    background: var(--main-color);
    color: white;
}

/* Home */
.home {
    width: 100%;
    height: 100vh;
    padding: 5px 11% 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    background-color: var(--bg-color);
}

.home .img {
    flex: 1 1 90px;
}

.home .img img {
    width: 100%;
    margin-top: 90px;
    margin-left: 90px;
    width: 300px;
    height: auto;
    border-radius: 30%;
    box-shadow: 0 0 25px var(--main-color);
}

.home-content {
    flex: 1 1 400px;
    margin-top: 100px;
}

.home-content h3 {
    color: var(--text-color2);
    font-family: var(--font-family-2);
}

.home-content h3 span {
    color: var(--main-color);
}

.home-content p {
    color: var(--text-color2);
    font-family: var(--font-family-3);
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: 2px solid var(--secound-bg-color);
    font-size: 2rem;
    border-radius: 50%;
    color: var(--secound-bg-color);
    margin: 1rem 1rem 2rem 0;
    transition: 0.3s ease-in-out;
}

.social-media a:hover {
    color: var(--text-color2);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
}
  
#home-btn {
    padding: 10px;  
    text-decoration: none;
    background: var(--main-color);
    color: white;
    border-radius: 5px;
}

@media screen and (max-width:873px) {
    .home .img img {
        margin-left: 0px;
    }
}


.card img {
    height: 200px;
    object-fit: cover;

}
.card {
    background-color: var(--main-color); /* Soft beige for the cards */
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Plant Card */

.container .row {
    margin-top: 30px;
}

/* Plant */
#plant {
    margin-top: 100px;
    padding-bottom: 80px;
    font-family: sans-serif;
    background-color: var(--text-color2);
}

#plant h1 {
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    border-bottom: 2px solid var(--text-color2);
    text-shadow: 1px 1px 1px var(--text-color2);
}

#plant .card {
    transition: 0.5s ease; 
    cursor: pointer;
}

#plant .card:hover {
    background-color: var(--main-color);
}

#plant .card h3 {
    font-weight: bold;
    text-shadow: 0px 0px 1px black;
}

#plant .card h5 span {
    color: var(--bg-color);
    float: right;
}

/* about */
.about {
    padding: 100px 11% 100px;
    background-color: var(--bg-color);
    transition: all .50s ease;
}

.about .card {
    border-radius: 10px;
    cursor: pointer;
}

.about .card img {
    border-radius: 10px;
}

.about-btn {
    width: 120px;
    height: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--bg-color);
    color: var(--text-color2);
    transition: 0.5s ease;
    cursor: pointer;
}


/* contact */
.contact {
    padding: 100px 11% 100px;
    margin-left: 30px;
}

.contact .heading {
    margin-top: 30px;
    text-align: center;
    color: var(--main-color);
}

.contact .col-md-5 {
    margin-top: 20px;
    background: var(--bg-color);
    border-radius: 10px;
    color: var(--text-color2);
}

.contact h3 {
    margin-top: 10px;
}

.contact i span {
    margin-left: 10px;
    cursor: pointer;
}

.order-btn {
    margin-top: 20px;
    padding: 5px;  
    text-decoration: none;
    background: var(--main-color);
    color: white;
    border-radius: 5px;
}


/* Footer */
#footer {
    padding: 0px 11% 15px;
}

#footer .f-content {
    text-align: center;
}

.f-logo img {
    width: 250px;
    cursor: pointer;
}

.f-content i  {
    font-size: 18px;
    color: var(--text-color);
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.f-content i:hover {
    background: var(--secound-bg-color);
    color: var(--text-color2);
    border-radius: 5px;
}

.c-content {
    text-align: center;
}

.c-content span {
    text-decoration: none;
    color: var(--secound-bg-color);
}